#header {
    margin: 0px;
    padding: 1em 2em 0.5em 2em;
	background: #fbb400; /*#036;*/
	border: 0px;
    border-bottom: 1px solid #7C0000;
}

#header h1 {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 1em;
    color: black;
}

#header h1 a {
	color: #7C0000;
}

#header ul#links {
    display: inline;
    margin: 0;
    padding: 0;
}

#header #links li {
    list-style: none;
    display: inline; 
	font-weight: bold;
	padding: 0.5em;
}

#header #links li a {
	color: #7C0000;
    font-size: larger;
}

#header #links li.active a {
	color: #c17d11;
    font-size: larger;
}

#body {
	margin: 2em 20em 1em 1em;
	padding: 0px;
}

a {
	color: #7C0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #8f5902;
}

img {
	border: 0px;
}

h2, h2 a {
	color: #7C0000;
}

h3, h3 a {
	color: #7C0000;
}

body {
	margin: 0px;
	background: #ffd480;
	font-family: sans-serif;
	color: black;
}

div.sidebar {
	position: absolute;
	top: 4em;
	right: 0px;
	width: 20em;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;

	padding-top: 20px;
	padding-left: 0px;

	font-size: smaller;
}

ul#footer {
    padding: 0;
    margin: 0;
    max-width: none;
    clear: both;
}

#footer li {
    font-size: smaller;
    list-style: none;
    float: left;
	padding: 1em;
    color: gray;
    border: none;
}

#footer a {
    color: #333;
}

div.clearer {
    clear: both;
    padding: 0;
    margin: 0;
    height: 0;
}

div.filedetails {
    font-size: smaller;
}

p.date {
    font-size: smaller;
}

p {
    max-width: 70em;
    margin: 1em;
}

ul, dl {
    margin: 1em;
    max-width: 70em;
}

div.sidebar ul {
    margin: 0;
}

ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.floatbox {
    float: left;
    width: 40em;
    margin: 0.2em;
    padding: 0.2em;
}

div.screenshot {
    float: left;
    margin: 0.7em;
    padding: 0.2em;
}

div.screenshot img {
    max-height: 150px;
    overflow: hidden;
}

pre {
    border: 1px solid #7C0000;
    margin: 1em;
    background: #ffe3ad;
    width: auto;
    padding: 0.5em;
    max-width: 70em;
}

ul.select {
    padding: 0;
    margin: 0;
}

ul.select li {
    list-style: none;
    float: left;
    margin: 0.2em;
}

ul.select li a {
    display: block;
	padding: 0.2em;
}

td.size {
    text-align: right;
}

td.count {
    text-align: right;
}

div.excerpt {
    margin: 0.2em;
    padding: 0.2em;
    font-style: italic;
}

div.col {
    vertical-align: text-top;
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em;
}

div.footnavi h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0px 0px 0.5em 1em;
	color: #7C0000;
}
div.footnavi ul {
    margin-top: 0px;
    border-left: 1px dotted #7C0000;
    padding-left: 0.5em;
    margin-left: 1em;
}
div.footnavi ul li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    color: #7C0000;
}
div.wide {
    clear: both;
	background: #fbb400;
    width: 100%;
    border-top: 1px solid #7C0000;
    border-bottom: 1px solid #7C0000;
    margin: 0 auto;
}

ul.pages {
    display: inline-block;
    list-style: none;
    display: inline; 
    margin: 0;
    padding: 1em;
}
ul.pages li {
    display: inline-block;
}
ul.pages li a {
    padding: 0.2em;
    border: 1px solid #7C0000;
    background: #ffd480;
}
ul.pages li.active a {
    background: #fbb400;
    font-weight: bolder;
}
ul.pages li a:hover {
    background: #fbb400;
}
ul.pages li.disabled span {
    padding: 0.2em;
    border: 1px solid #7C0000;
    background: #ffd480;
}

div.appshot {
    float: right;
    clear: both;
    margin: 0.2em;
    padding: 0.2em;
}

div.appshot img {
    max-height: 150px;
    overflow: hidden;
}
div.checksums {
    font-size: smaller;
}

a.aname {
    color: black;
    text-decoration: none;
}
a.vendor {
    display: block;
    float: left;
    text-align: center;
    width: 10em;
    margin: 0.4em;
    padding: 0.4em;
    border: 1px solid #7C0000;
}
a.vendor:hover {
    background: #fbb400;
}
table.listing { 
    margin: 1em;
}
p.warning {
    border: 1px solid #7C0000;
    font-weight: bolder;
    padding: 0.5em;
}
p.message {
    border: 1px solid #7C0000;
    font-weight: bolder;
    padding: 0.5em;
}
ul.featuresearch {
    padding: 0;
    margin: 0;
}
ul.featuresearch li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
