{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Coding for Wammu and Gammu" %}{% endblock %}

{% block sidebar_top %}
{% include "contribute/sidebar.html" %}
{% endblock %}

{% block sidebar %}
<h3>{% trans "Factoids" %}</h3>
<ul>
<li><a href="http://cia.vc/stats/project/wammu">Wammu on CIA.vc</a></li>
<li><a href="http://cia.vc/stats/project/gammu">Gammu on CIA.vc</a></li>
<li><a href="http://www.ohloh.net/p/wammu">Wammu on Ohloh</a></li>
<li><a href="http://www.ohloh.net/p/gammu">Gammu on Ohloh</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>{% trans "Coding for Wammu and Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu is written in C and Wammu in <a
href="http://www.python.org/">Python</a>, so you will need knowledge of one of
these languages to contribute code directly to the project. You will probably
use some parts of <a href="/docs/devel/">developer documentation</a> to
understand the code. If you want to know what is planned to happen in Gammu
and Wammu, please check the <a href="/docs/roadmap/">roadmap</a>.
{% endblocktrans %}
</p>

<a name="vcs"></a>
<h3>{% trans "Version Control System" %}</h3>
<p>
{% blocktrans %}
We currently use <a href="http://git-scm.com/">Git</a> as a version control
system. It allows you create own local branch, develop the code and then
submit us patches or merge request for the changes.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
The Git repositories are being hosted on <a
href="http://github.com/">Github</a> service, in the
<a href="http://github.com/gammu/">Gammu</a> project. You can browse the code
on their site or just clone the repository and investigate it locally. To
clone Wammu and Gammu sources, use following commands:
{% endblocktrans %}
</p>

<pre>
# For Wammu sources:
git clone git://github.com/gammu/wammu.git wammu

# For Gammu sources:
git clone git://github.com/gammu/gammu.git gammu

# For Wammu website:
git clone git://github.com/gammu/website.git wammu_web
</pre>

<p>
{% blocktrans %}
Alternatively (if your firewall blocks git protocol), you can access
repositories over https, just replace <code>git://github.com/</code> with
<code>https://github.com/</code>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Instructions for building and installing are included in file
<code>INSTALL</code> in both Gammu and Wammu. For compiling Gammu you need to
have <a href="http://www.cmake.org/">CMake</a>.
{% endblocktrans %}
</p>

<h3>{% trans "Code Snapshots" %}</h3>
<p>
{% blocktrans %}
If you for some reason do not want to use version control system, you can
always download fresh snapshots of current code. They are available on our
download server - for <a href="http://dl.cihar.com/gammu/snapshot/">Gammu</a>
and <a href="http://dl.cihar.com/wammu/snapshot/">Wammu</a>. These snapshots
are update several times a day, so they should always contain up to date copy
of the code.
{% endblocktrans %}
</p>


<h3>{% trans "Patch Submission" %}</h3>
<p>
{% blocktrans %}
We really do not care much about the way you deliver us patches. However the
easiest thing is you use <code>git format-patch</code>, which allows us to
easily include your changes. If you do not use git, any unified diff will
serve it's purpose also very well. You can send patches to <a
href="/support/lists/">mailing lists</a> or to the <a
href="/support/bugs/">bug tracker</a>.
{% endblocktrans %}
</p>

<a name="testing"></a>
<h3>{% trans "Testing" %}</h3>
<p>
{% blocktrans %}Gammu comes with quite comprehensive testsuite, which is being run continuosly using <a href="https://travis-ci.org/gammu/gammu">Travis</a>.{% endblocktrans %}
</p>

{% endblock %}


