{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contribute to Wammu and Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "Contribute to Wammu and Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu and Wammu are free software projects which are done by volunteers in
their free time. There is never enough of volunteers so you are very welcome
to help us in any way. You really do not need developer skills to help.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Please check our list of <a href="/contribute/wanted/"><strong>wanted
skills</strong></a>, to get an idea who we are currently looking for.
{% endblocktrans %}
</p>

<h3>{% trans "Using" %}</h3>
<p>
{% blocktrans %}
Just using our tools and giving developers <a href="/support/bugs/">good
<strong>feedback</strong></a> can help a lot. Tell us what you would change or improve.
You might be using our software in quite unique way and can not find out all
use cases on our own!
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Also just <a href="/contribute/publicity/"><strong>spreading</strong> a word</a> about tool you
use and way you use it can help the project to attract more users and
developers. Just don't be afraid of writing about our tools in your blog,
twitter, facebook or whatever online media you use.
{% endblocktrans %}
</p>

<h3>{% trans "Improving" %}</h3>

<p>
{% blocktrans %}
There are lot of ways to improve the software. If you do not know how to write
code, you can always <a
href="/contribute/translate/"><strong>translate</strong> to your
language</a>.
For developers with skills either in C or in Python, it might be easy to
<a href="/contribute/code/">contribute some <strong>code</strong></a>.
Also the graphics in the applications is not really a top quality and if you
are skilled in this area, your help would be also welcome!
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
You can also help just by regularly <a
href="/contribute/code/#testing">running a <strong>testsuite</strong></a> on
your platform, especially if it some which we do not test so far.
{% endblocktrans %}
</p>

<h3>{% trans "Donating" %}</h3>

<p>
{% blocktrans %}
And of course there is a option to appreciate the authors by <a
href="/donate/">donating them</a> some money or some items from their wishlist.
{% endblocktrans %}
</p>

{% endblock %}
