{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Wammu and Gammu News" %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Follow us on" %}</h3>
<ul>
<li><a href="http://identi.ca/gammu">{% trans "identi.ca" %}</a></li>
<li><a href="http://twitter.com/wammu">{% trans "Twitter" %}</a></li>
</ul>
<h3>{% trans "Other News" %}</h3>
<p>
{% blocktrans with news.number as number and news.paginator.num_pages as num_pages %}
Page {{ number }} of {{ num_pages }}.
{% endblocktrans %}
</p>
<ul>
{% if news.has_previous %}
<li><a href="?page={{ news.previous_page_number }}">{% trans "Previous" %}</a></li>
{% endif %}
{% if news.has_next %}
<li><a href="?page={{ news.next_page_number }}">{% trans "Next" %}</a></li>
{% endif %}
</ul>

{% endblock %}

{% block content %}
<h2>{% trans "Wammu and Gammu News" %}</h2>

<p>
{% blocktrans %}
You can also follow the news using RSS or get the basic information using 
<a href="http://identi.ca/gammu">identi.ca</a> or
<a href="http://twitter.com/wammu">Twitter</a>.
{% endblocktrans %}
</p>

{% for item in news.object_list %}
<h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
{% with item as entry %}
{% include "news/body.html" %}
{% endwith %}
{% endfor %}

{% endblock %}

