{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Wammu and Gammu News" %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Follow us on" %}</h3>
<ul>
<li><a href="http://identi.ca/gammu">{% trans "identi.ca" %}</a></li>
<li><a href="http://twitter.com/wammu">{% trans "Twitter" %}</a></li>
</ul>
<h3>{% trans "RSS Feeds" %}</h3>
<ul>
<li><a href="https://identi.ca/api/statuses/friends_timeline/gammu.rss">{% trans "identi.ca" %}</a></li>
<li><a href="http://twitter.com/statuses/user_timeline/67626012.rss">{% trans "Twitter" %}</a></li>
</ul>
<h3>{% trans "Categories" %}</h3>
<ul>
<li><a href="/news/">All news</a></li>
{% for cat in news_categories %}
<li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block content %}
{% block listhead %}
<h2>{% trans "Wammu and Gammu News" %}</h2>
{% endblock %}

{% for item in news.object_list %}
<h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
{% with item as entry %}
{% include "news/body.html" %}
{% endwith %}
{% endfor %}

<ul class="pages">
{% if news.has_previous %}
<li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for page in news.paginator.page_range %}
<li {% ifequal page news.number %} class="active" {% endifequal %}><a href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}
{% if news.has_next %}
<li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>

{% endblock %}

