{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Wammu and Gammu Screenshots" %}{% endblock %}

{% block content %}
{% block listhead %}
<h2>{% trans "Wammu and Gammu Screenshots" %}</h2>
{% endblock %}

<div class="container">
{% for item in screenshots.object_list %}
<div class="screenshot">
    <a href="{{ item.image.url }}" class="shot" title="{{ item.title }}">
        <img src="{{ item.image.url_180x120 }}"
        alt="{{ item.title }}" /><br />
    {{ item.title }}
    </a>
</div>
{% endfor %}
</div>

<nav>
<ul class="pagination">
{% if screenshots.has_previous %}
<li><a href="?page={{ screenshots.previous_page_number }}">&laquo;</a></li>
{% else %}
<li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for page in screenshots.paginator.page_range %}
<li {% ifequal page screenshots.number %} class="active" {% endifequal %}><a href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}
{% if screenshots.has_next %}
<li><a href="?page={{ screenshots.next_page_number }}">&raquo;</a></li>
{% else %}
<li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>
</nav>

{% endblock %}
