{% load i18n %}
<p>
{% blocktrans %}
You are downloading Gammu source code. To compile it you need some development
environment for your platform and <a href="http://www.cmake.org/">CMake</a>
tool to configure the sources. There are also some optional requirements for
additional features which are listed in INSTALL file in sources. This file
also contains more detailed instructions about compiling Gammu.
{% endblocktrans %}
</p>

<p>{% trans "This source tarball contains Gammu command line utility, libGammu library and Gammu SMSD." %}</p>
