{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Permission Denied" %}{% endblock %}


{% block content %}
<h2>{% trans "Permission Denied" %}</h2>

<p>
{% blocktrans %}
The page you are looking for was not found. Try choosing something from the
navigation bellow or use <a href="/search">search facility</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
This site includes information about Gammu and Wammu, you might want to
continue to pages of following projects:
{% endblocktrans %}
</p>

{% include "gammu-family.html" %}

{% endblock %}
