{% load i18n %}
{% load getlink %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Michal Čihař" />
  <meta name="copyright" content="Copyright &copy; 2003 - {{ current_year }} Michal Čihař" />
  <meta name="google-site-verification" content="HFOfLE1lvi1jgH12XWhZU372Nb5qzgkIIxdC8GnveUI" />
  <meta name="description" content="{% block description %}{% trans "Website of Gammu and Wammu, the software for managing GSM cell phones." %}{% endblock %}" />
  <meta name="keywords" content="{% block keywords %}Gammu,Wammu,python-gammu,GSM,phone,SMS,gateway{% endblock %}{% block extrakeywords %}{% endblock %}" />
  <link rel="copyright" href="/license/" />
  <title>{% block title %}Wammu{% endblock %}</title>
  {% for feed in feeds %}
  <link rel="alternate" type="{{ feed.type }}" href="{{ feed.url }}" title="{{ feed.title }}"/>
  {% endfor %}
  {% for feed in global_feeds %}
  <link rel="alternate" type="{{ feed.type }}" href="{{ feed.url }}" title="{{ feed.title }}"/>
  {% endfor %}
  {% for lang in translations %}
  <link rel="alternate" hreflang="{{ lang.code }}" href="{{ lang.url }}" />
  {% endfor %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link href="https://plus.google.com/104858815416760393584/" rel="publisher" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/media/css/own.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/media/js/init.js" type="text/javascript"></script>
<!--
  <script src="/media/js/slimbox2.js" type="text/javascript"></script>
  <script src="/media/js/utils.js" type="text/javascript"></script>
-->
  <meta name="robots" content="index, follow" />
  {% block header %}{% endblock %}
 </head>
 <body>
 <nav class="navbar navbar-default navbar-static-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar-collapsible">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">
        <img alt="Gammu" src="/media/images/wammu-32x32.png">
        Gammu and Wammu
      </a>
    </div>
   
  <div class="collapse navbar-collapse" id="topbar-collapsible">
   <ul class="nav navbar-nav">
     <li><a href="/support/">{% trans "Support" %}</a></li>
   
     <li><a href="/download/">{% trans "Download" %}</a></li>
   
     <li><a href="/screenshots/">{% trans "Screenshots" %}</a></li>
   
     <li><a href="/docs/">{% trans "Documentation" %}</a></li>
   
     <li><a href="/contribute/">{% trans "Contribute" %}</a></li>
   
     <li><a href="/tools/">{% trans "Tools" %}</a></li>

   </ul>
   <ul class="nav navbar-nav navbar-right">
   <li>
<a class="language" href="#">
<i class="fa fa-globe"></i>
{% for lang in LANGUAGES %}{% if lang.0 == LANGUAGE_CODE %}{{ lang.1 }}{% endif %}{% endfor %}
</a>
<div class="languages">
<div class="choice">
{% for lang in translations %}
<a href="{{ lang.url }}">{{ lang.name }}</a>
{% endfor %}

</div>
<a href="/contribute/translate/">{% trans "Help with translations!" %}</a>
</div>
   </li>
   </ul>
   </div>
  </nav>

<div class="container"><div class="responsive-ad">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wammu.eu responsive top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9981925389745105"
     data-ad-slot="2995508485"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

{% if message %}
<div class="alert alert-info" role="alert">
{{ message }}
</div>
{% endif %}

<div class="container">
{% block content %}{% endblock %}
</div>

{% block sidebar_top %}{% endblock %}

{% block sidebar %}{% endblock %}

<div class="container"><div class="responsive-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wammu responsive bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9981925389745105"
     data-ad-slot="4332640882"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>

<footer>
<div class="row footnavi">
    <div class="col-sm-2">
    <span class="foottitle"><a href="/">{% trans "About" %}</a></span>
    <ul>
        <li><a href="/gammu/">{% trans "Gammu" %}</a></li>
        <li><a href="/wammu/">{% trans "Wammu" %}</a></li>
        <li><a href="/python-gammu/">{% trans "python-gammu" %}</a></li>
        <li><a href="/smsd/">{% trans "SMSD" %}</a></li>
    </ul>
    </div>
    <div class="col-sm-2">
    <span class="foottitle"><a href="/support/">{% trans "Support" %}</a></span>
    <ul>
        <li><a href="/support/lists/">{% trans "Mailing lists" %}</a></li>
        <li><a href="/support/online/">{% trans "Online" %}</a></li>
        <li><a href="/support/bugs/">{% trans "Reporting bugs" %}</a></li>
        <li><a href="/support/buy/">{% trans "Commercial support" %}</a></li>
    </ul>
    </div>
    <div class="col-sm-2">
    <span class="foottitle">{% trans "Media" %}</span>
    <ul>
        <li><a href="/download/">{% trans "Downloads" %}</a></li>
        <li><a href="/screenshots/">{% trans "Screenshots" %}</a></li>
        <li><a href="/links/">{% trans "Third party" %}</a></li>
        <li><a href="/news/">{% trans "News" %}</a></li>
    </ul>
    </div>
    <div class="col-sm-2">
    <span class="foottitle"><a href="/docs/">{% trans "Documentation" %}</a></span>
    <ul>
        <li><a href="/docs/manual/faq/">{% trans "FAQ" %}</a></li>
        <li><a href="/phones/">{% trans "Supported phones" %}</a></li>
        <li><a href="/docs/manual/">{% trans "Gammu Manual" %}</a></li>
        <li><a href="/docs/manual/config/">{% trans "Configuration" %}</a></li>
    </ul>
    </div>
    <div class="col-sm-2">
    <span class="foottitle"><a href="/contribute/">{% trans "Contribute" %}</a></span>
    <ul>
        <li><a href="/contribute/translate/">{% trans "Translate" %}</a></li>
        <li><a href="/contribute/code/">{% trans "Develop" %}</a></li>
        <li><a href="/donate/">{% trans "Donate" %}</a></li>
        <li><a href="/contribute/publicity/">{% trans "Publicity" %}</a></li>
    </ul>
    </div>
    <div class="col-sm-2">
    <span class="foottitle">{% trans "Share" %}</span>
    <ul>
    <li><a href="https://plus.google.com/104858815416760393584/?prsrc=3"><i class="fa fa-google-plus"></i> {% trans "Gammu on Google+" %}</a></li>
    <li><a href="https://www.facebook.com/wammu"><i class="fa fa-facebook-official"></i> {% trans "Gammu on Facebook" %}</a></li>
    <li><a href="http://twitter.com/wammu"><i class="fa fa-twitter"></i> {% trans "Follow us on Twitter" %}</a></li>
    <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LQ7LTQVQ9LKD6"><i class="fa fa-paypal"></i> {% trans "Donate using PayPayl" %}</a></li>
    </ul>
    </div>
</div>

  <ul id="footer">
    <li>Copyright &copy; 2003 - {{ current_year }} <span class="vcard"><a class="url fn" href="http://cihar.com/">Michal Čihař</a><a href="mailto:michal@cihar.com" class="email"></a></span></li>
    <li><a href="/license/" rel="license">{% trans "License" %}</a></li>
    <li><a href="/donate/" rel="payment" title="{% trans "Support Gammu/Wammu by donating money!" %}">{% trans "Donate" %}</a></li>
    <li><a href="/search/" title="{% trans "Search for Gammu/Wammu related questions" %}">{% trans "Search" %}</a></li>
    <li><a href="/authors/" title="{% trans "Gammu and Wammu authors" %}">{% trans "Authors" %}</a></li>
  </ul>
</footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.wammu.eu"]);
  _paq.push(["setDomains", ["*.wammu.eu","*.cs.wammu.eu","*.cz.wammu.eu","*.de.wammu.eu","*.es.wammu.eu","*.fr.wammu.eu","*.sk.wammu.eu"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.cihar.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 5]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://stats.cihar.com/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
 </body>
</html>

