{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Donate to Gammu" %}{% endblock %}

{% block content %}
<h2>{% trans "Donate to Gammu" %}</h2>

<p>
{% blocktrans %}Gammu as a free software is project run by volunteers in their free time. To appreciate their work you can donate them in one of ways mentioned below.{% endblocktrans %}
</p>

<h3>{% trans "Donate Money" %}</h3>
<p>
{% blocktrans %}
Thank you for interesting in donating money to Gammu and Wammu projects. These
money can serve as a motivation for developers as well as fund for buying some
hardware which is required for testing. We already have some cell phones, but
there is simply lot of them and having more available allows us to create
better software.
{% endblocktrans %}
</p>

<h4>Bountysource</h4>

<p>
<a href="https://salt.bountysource.com/teams/gammu">{% trans "Donate monthly amount for sustainable development" %}</a>
</p>

<p>
<a href="https://www.bountysource.com/teams/gammu">{% trans "Fund issues to motivate developers" %}</a>
</p>

<h4>Gratipay</h4>

<p>
<a href="https://gratipay.com/gammu/">{% trans "Donate small amount in weekly intervals." %}</a>
</p>

<h4>PayPal</h4>

<p>
{% blocktrans %}
The donation itself is being processed by <a
href="http://www.paypal.com/">PayPal</a> where you can pay either by their
account or by using any major credit card. You can also directly send a
donation to <code>michal@cihar.com</code>.
{% endblocktrans %}
</p>

<div class="donate">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LQ7LTQVQ9LKD6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>

<h3>{% trans "Bitcoin" %}</h3>

<p>
{% blocktrans with "152Xjvwe8peNMjR4zaEJJgc8CpLK7XecMq" as address %}You can also use <a href="http://www.bitcoin.org/">Bitcoin is a peer-to-peer network</a> and send me Bitcoins to <code>{{ address }}</code>.{% endblocktrans %}
</p>

<h3>{% trans "Wire Transfer" %}</h3>

<p>
{% blocktrans %}
If you want, you can use wire transfer as well to send me money. Use following
information to make the payment:
{% endblocktrans %}
</p>
<p><strong>IBAN:</strong> SK4383300000002600081894</p>
<p><strong>BIC/SWIFT:</strong> FIOZSKBAXXX</p>
<p>
{% blocktrans %}
If you have an account in Czech Republic, you can use local (and cheaper) wire
transfer to account 2300081892 / 2010.
{% endblocktrans %}
</p>

<h3>{% trans "Other Options" %}</h3>
<p>
{% blocktrans %}
You can also give some presents to developers, currently here is <a
href="http://www.amazon.co.uk/gp/registry/3GVRYG2VNOZN1">Amazon wishlist for
Michal Čihař</a>.
{% endblocktrans %}
</p>

<h3>{% trans "Supporters" %}</h3>

<p>{% trans "List of companies or individuals who regularly support this website or Gammu development financially." %}</p>

<p><a href="http://travel-ticker.com/"><img src="/media/images/logos/travel-ticker.png" alt="Travel Ticker" /></a></p>

<p><a href="http://www.indoortrainingbikes.com/"><img src="/media/images/logos/buchener.jpg" alt="Indoor Training Bikes" /></a></p>

<p><a href="https://hostingfacts.com/"><img src="/media/images/logos/hostingfacts.png" alt="Hosting Facts" /></a></p>

<p><a href="http://www.grabhostingdeals.com/"><img src="/media/images/logos/webhostingdeals.png" alt="web hosting deals" /></a></p>

<p><a href="http://www.bitcatcha.com/"><img src="/media/images/logos/bitcatcha-logo.png" alt="is your website hosting fast enough?" /></a></p>

<p><a href="http://binaryoptionsaustralia.com/">Binary Options in Australia</a></p>


{% endblock %}

