{% extends "base.html" %}
{% load i18n %}

{% block title %}Donate to Gammu{% endblock %}

{% block sidebar_top %}
{% include "contribute/sidebar.html" %}
{% endblock %}

{% block content %}
<h2>{% trans "Donate to Gammu" %}</h2>

<h3>{% trans "Donate money" %}</h3>
<p>
{% blocktrans %}
Thank you for interesting in donating money to Gammu and Wammu projects. These
money can serve as a motivation for developers as well as fund for buying some
hardware which is required for testing. We already have some cell phones, but
there is simply lot of them and having more available allows us to create
better software.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
The donation itself is being processed by <a
href="http://www.paypal.com/">PayPal</a> where you can pay either by their
account or by using any major credit card.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Your name and message will be listed on <a href="/donate/list/">List of
Donors</a>, if you don't want to be listed, click here.
{% endblocktrans %}
</p>

{{ form.sandbox }}
{% endblock %}

