{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Donate to Gammu" %}{% endblock %}

{% block sidebar_top %}
{% include "contribute/sidebar.html" %}
{% endblock %}

{% block content %}
<h2>{% trans "Donate to Gammu" %}</h2>

<h3>{% trans "Micropayments" %}</h3>

<p>
{% blocktrans %}
The easiest way to appreciate work on Gammu and Wammu is to use Flattr and
flattr some of <a href="https://flattr.com/profile/nijel">my projects</a>.
{% endblocktrans %}
</p>

<a href="http://flattr.com/thing/56970/Wammu" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr
Wammu" title="Flattr Wammu" border="0" /></a>

<a href="http://flattr.com/thing/56984/Gammu" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr Gammu" title="Flattr Gammu" border="0" /></a>

<a href="http://flattr.com/thing/56986/Gammu-SMSD" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr Gammu SMSD" title="Flattr Gammu SMSD" border="0" /></a>

<a href="http://flattr.com/thing/56985/python-gammu" target="_blank">
<img src="http://api.flattr.com/button/button-static-50x60.png" alt="Flattr python-gammu" title="Flattr python-gammu" border="0" /></a>

<h3>{% trans "Donate Money" %}</h3>
<p>
{% blocktrans %}
Thank you for interesting in donating money to Gammu and Wammu projects. These
money can serve as a motivation for developers as well as fund for buying some
hardware which is required for testing. We already have some cell phones, but
there is simply lot of them and having more available allows us to create
better software.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
The donation itself is being processed by <a
href="http://www.paypal.com/">PayPal</a> where you can pay either by their
account or by using any major credit card. You can also directly send a
donation to <code>michal@cihar.com</code>.
{% endblocktrans %}
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="8063250" />
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

<h3>{% trans "Bank Account" %}</h3>

<p>
{% blocktrans %}
If you have account with Czech bank or can send money directly to Czech
account, you can send money to account 2202591725/6210 (account at mBank, BRE Bank S.A.).
{% endblocktrans %}
</p>

<h3>{% trans "Advertisement" %}</h3>

<p>
{% blocktrans %}
This website currently participates in <a href="http://adbard.net">The Ad Bard
Network</a>, the only advertising network designed specifically for reaching
the developers, architects, users and influencers in the free software
community, allowing advertisers to directly communicate with the key customers
in this exciting new area. By buying advertisement in this network, you will
support various free software websites including this one.
{% endblocktrans %}
</p>

<h3>{% trans "Other Options" %}</h3>
<p>
{% blocktrans %}
You can also give some presents to developers, currently here is <a
href="http://www.amazon.co.uk/gp/registry/3GVRYG2VNOZN1">Amazon wishlist for
Michal Čihař</a>.
{% endblocktrans %}
</p>

{% endblock %}

