{% load i18n %}
    <h3><a href="/wammu">Wammu</a></h3>
<p>
{% blocktrans %}
GUI program to manage contacts, todos, calendar and messages in your phone.
{% endblocktrans %}
</p>
    <h3><a href="/gammu">Gammu</a></h3>
<p>
{% blocktrans %}
Command line utility which allows to use all libGammu features.
{% endblocktrans %}
</p>
    <h3><a href="/libgammu">libGammu</a></h3>
<p>
{% blocktrans %}
Library exporting C API to talk to cell phones.
{% endblocktrans %}
</p>
    <h3><a href="/smsd">Gammu SMSD</a></h3>
<p>
{% blocktrans %}
SMS daemon service to receive and send messages automatically.
{% endblocktrans %}
</p>
    <h3><a href="/python-gammu">Python-Gammu</a></h3>
<p>
{% blocktrans %}
Python bindings for libGammu, so that you can use it from Python scripts.
{% endblocktrans %}
</p>

    <h3><a href="http://kalkun.sourceforge.net/">Kalkun</a></h3>
<p>
{% blocktrans %}
Third party open source web-based SMS (Short Message Service) management which uses <a href="/smsd">Gammu SMSD</a>.
{% endblocktrans %}
</p>

