{% load i18n %}

<div class="row">

<div class="col-md-4">
    <h3><a href="/wammu/">Wammu</a></h3>
<p>
{% blocktrans %}
GUI program to manage contacts, todos, calendar and messages in your phone.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="/wammu/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
<a class="btn btn-success pull-right" href="/download/wammu/source/" role="button"><i class="fa fa-download"></i> {% trans "Download" %}</a>
</p>
</div>

<div class="col-md-4">
    <h3><a href="/gammu/">Gammu</a></h3>
<p>
{% blocktrans %}
Command line utility which allows to use all libGammu features.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="/gammu/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
<a class="btn btn-success pull-right" href="/download/gammu/source/" role="button"><i class="fa fa-download"></i> {% trans "Download" %}</a>
</p>
</div>

<div class="col-md-4">
    <h3><a href="/smsd/">SMSD</a></h3>
<p>
{% blocktrans %}
SMS daemon service to receive and send messages automatically.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="/smsd/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
<a class="btn btn-success pull-right" href="/download/gammu/source/" role="button"><i class="fa fa-download"></i> {% trans "Download" %}</a>
</p>
</div>

</div>

<div class="row">
<div class="col-md-4">
    <h3><a href="/python-gammu/">python-gammu</a></h3>
<p>
{% blocktrans %}
Python bindings for libGammu, so that you can use it from Python scripts.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="/python-gammu/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
<a class="btn btn-success pull-right" href="/download/gammu/source/" role="button"><i class="fa fa-download"></i> {% trans "Download" %}</a>
</p>
</div>

<div class="col-md-4">
    <h3><a href="/libgammu/">libGammu</a></h3>
<p>
{% blocktrans %}
Library exporting C API to talk to cell phones.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="/libgammu/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
<a class="btn btn-success pull-right" href="/download/gammu/source/" role="button"><i class="fa fa-download"></i> {% trans "Download" %}</a>
</p>
</div>
</div>

<div class="row">
<div class="col-md-4">
<h3><a href="https://github.com/fulup-bzh/GeoGate/tree/master/smsc">Node.JS client for SMSD</a></h3>

<p>
{% blocktrans %}Third party open source Node.JS client for <a href="/smsd/">Gammu SMSD</a>.{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="https://github.com/fulup-bzh/GeoGate/tree/master/smsc" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
</p>
</div>


<div class="col-md-4">
    <h3><a href="http://kalkun.sourceforge.net/">Kalkun</a></h3>
<p>
{% blocktrans %}
Third party open source web-based SMS (Short Message Service) management which uses <a href="/smsd/">Gammu SMSD</a>.
{% endblocktrans %}
</p>

<p>
<a class="btn btn-default" href="http://kalkun.sourceforge.net/" role="button"><i class="fa fa-search"></i> {% trans "View details" %}</a>
</p>
</div>
</div>
