{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Gammu" %}{% endblock %}

{% block header %}
<link rel="meta" title="DOAP" type="application/rdf+xml" href="/api/doap/gammu.xml" />
{% endblock %}

{% block sidebar_top %}
<h3>{% trans "More information" %}</h3>
<ul>
{% include "sidebars/gammu.html" %}
{% include "sidebars/common.html" %}
</ul>

{% endblock %}
{% block content %}
<h2>{% trans "Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu is the name of the project as well as name of command line utility,
which you can use to control your phone. It is written in C and built on top
of <a href="/libgammu/">libGammu</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Gammu command line utility provides access to wide range of phone features,
however support level differs from phone to phone and you might want to check
<a href="/phones/">Gammu Phone Database</a> for user experiences with various
phones. Generally following features are supported:
{% endblocktrans %}
</p>

{% include "gammu-features.html" %}

<p>
{% blocktrans %}
This project has originally forked from Gnokii and up to version 0.58 has been
named MyGnokii2. Then need for better name arrived and Gammu was chosen as an
acronym for Gammu All Mobile Management Utilities, without knowing that Gammu
from the "Heretics of Dune" book written by Frank Herbert exists.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
The Gammu package does not include just this binary, but as well <a
href="/smsd/">Gammu SMS Daemon</a>, <a
href="/libgammu/">Gammu library</a> and <a href="/python-gammu/">Python
bindings</a> which you can use to develop own application accessing mobile
phone.
{% endblocktrans %}
</p>

{% include "shortnews.html" %}

<h3>{% trans "Download" %}</h3>
<p>
{% blocktrans %}
Just download <a href="/download/gammu/">Gammu</a> for your platform and use
it.
{% endblocktrans %} 
</p>

<h3>{% trans "Documentation" %}</h3>
<p>
{% blocktrans %}
The best documentation is available in <a href="/docs/manual/">The Gammu Manual</a> which is distributed with the program. You can also view online
documentation for <a href="/docs/manual/gammu/">gammu (the
main program)</a> or <a href="/docs/manual/config/">gammu-rc (the
configuration file)</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Check also <a href="/docs/manual/faq/">Frequently Asked Questions</a>.
{% endblocktrans %}
</p>

{% endblock %}


