{% extends "base.html" %}
{% load i18n %}

{% block title %}Gammu{% endblock %}

{% block sidebar_top %}
<h3>{% trans "More information" %}</h3>
<ul>
<li><a href="/phonedb">{% trans "Supported phones" %}</a></li>
<li><a href="/contribute">{% trans "How to contribute" %}</a></li>
</ul>

{% endblock %}
{% block content %}
<h2>{% trans "Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu is the name of the project as well as name of command line utility,
which you can use to control your phone. It is written in C and built on top
of <a href="/libgammu">libGammu</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
This project has originally forked from Gnokii and up to version 0.58 has been
named MyGnokii2. Then need for better name arrived and Gammu was chosen as an
acronym for Gammu All Mobile Management Utilities, without knowing that Gammu
from the "Heretics of Dune" book written by Frank Herbert exists.
{% endblocktrans %}
</p>

<h3>{% trans "Documentation" %}</h3>
<p>
{% blocktrans %}
API documentation is available as well as internal documentation.
{% endblocktrans %}
</p>


{% endblock %}


