{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Wammu and Gammu" %}{% endblock %}

{% block content %}

<div class="jumbotron">
      <div class="container">
<p>
{% blocktrans %}
<a href="/wammu/">Wammu</a> is a program to manage data in your cell phone such as contacts,
calendar or messages. <a href="/smsd/">Gammu SMSD</a> is a service to mass send and receive SMS messages.
Both these are built on top of <a href="/libgammu/">Gammu library</a>, which
provides abstraction layer to work with different cell phones from different
vendors (including Nokia, Sony-Ericsson, Motorola, Samsung, Siemens, Huawei
and others).
{% endblocktrans %}
</p>
      </div>
    </div>

{% include "gammu-family.html" %}


    <h2><a href="/news/">{% trans "News" %}</a></h2>
    {% for entry in news %}
    <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
    {{ entry.excerpt_html|safe }}
    {% include "news/published.html" %}
    {% endfor %}

    <h2>{% trans "Sponsors" %}</h2>

    <p>
    <a href="https://github.com/sponsors/nijel">{% trans "Support us on GitHub to get listed here!" %}</a></p>
    </p>

    <p>{% trans "Current supporters:" %}</p>

    <ul>

    <li><a href="https://www.voetbalgokken.nl/bookmakers/">Bookmakers</a></li>

    <li><a href="https://www.ecosecretariat.org/">The Economic Secretariat</a></li>

    <li><a href="https://www.combin.com/howto/how-to-find-influencers-for-your-instagram-account/">Instagram Account Search</a></li>

    </ul>
{% endblock %}
