{% extends "base.html" %}
{% load i18n %}

{% block title %}Wammu{% endblock %}

{% block content %}
<h2>{% trans "About" %}</h2>

<p>
{% blocktrans %}
Wammu is a program to manage data in your cell phone such as contacts,
calendar or messages. It is built on <a href="/libgammu">Gammu library</a>, which
provides abstraction layer to work with different cell phones from different
vendors (including Nokia, Sony-Ericssonn, Motorola, Samsung, Siemens, Huawei
and others).
{% endblocktrans %}
</p>

<div class="floatbox">
    <h2>Features</h2>
    <ul>
        <li>Foo</li>
    </ul>
</div>

<div class="floatbox">
    <h2><a href="/news/">News</a></h2>
    {% for item in news %}
    <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
    {{ item.excerpt_html|safe }}
    <p class="published">
    {% blocktrans with item.pub_date.date as date and item.author.get_full_name as author%}
    Published on {{ date }} by {{ author }}
    {% endblocktrans %}
    </p>
    {% endfor %}
</div>
{% endblock %}
