{% extends "base.html" %}
{% load i18n %}

{% block title %}Wammu{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Downloads" %}</h3>
<h3>{% trans "Screenshots" %}</h3>
<p>
<a href="/screenshots/" title="{% trans "Screenshots" %}">
        <img src="{{ screenshot.image.url_180x120 }}"
        alt="{{ screenshot.title }}" />
</a>
</p>
{% endblock %}

{% block content %}
<h2>{% trans "About" %}</h2>

<p>
{% blocktrans %}
Wammu is a program to manage data in your cell phone such as contacts,
calendar or messages. It is built on <a href="/libgammu">Gammu library</a>, which
provides abstraction layer to work with different cell phones from different
vendors (including Nokia, Sony-Ericssonn, Motorola, Samsung, Siemens, Huawei
and others).
{% endblocktrans %}
</p>

<div class="floatbox">
    <h2>{% trans "Gammu family" %}</h2>
<p>
{% blocktrans %}
Gammu is now not only a single program but there is lot of useful tools
sharing same library.
{% endblocktrans %}
</p>

    <h3><a href="/wammu">Wammu</a></h3>
<p>
{% blocktrans %}
GUI program to manage contacts, todos, calendar and messages in your phone.
{% endblocktrans %}
</p>
    <h3><a href="/gammu">Gammu</a></h3>
<p>
{% blocktrans %}
Command line utility which allows to use all libGammu features.
{% endblocktrans %}
</p>
    <h3><a href="/libgammu">libGammu</a></h3>
<p>
{% blocktrans %}
Library exporting C API to talk to cell phones.
{% endblocktrans %}
</p>
    <h3><a href="/smsd">Gammu SMSD</a></h3>
<p>
{% blocktrans %}
SMS daemon service to receive and send messages automatically.
{% endblocktrans %}
</p>
    <h3><a href="/python-gammu">Python-Gammu</a></h3>
<p>
{% blocktrans %}
Python bindings for libGammu, so that you can use it from Python scripts.
{% endblocktrans %}
</p>
</div>

<div class="floatbox">
    <h2><a href="/news/">News</a></h2>
    {% for item in news %}
    <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
    {{ item.excerpt_html|safe }}
    <p class="published">
    {% blocktrans with item.pub_date.date as date and item.author.get_full_name as author%}
    Published on {{ date }} by {{ author }}
    {% endblocktrans %}
    </p>
    {% endfor %}
</div>
<div class="clearer"></div>
{% endblock %}
