{% extends "base.html" %}
{% load i18n %}

{% block description %}{% trans "Python bindings form Gammu, the software for managing GSM cell phones." %}{% endblock %}
{% block extrakeywords %},python{% endblock %}
{% block title %}{% trans "Python bindings for Gammu" %}{% endblock %}

{% block header %}
<link rel="meta" title="DOAP" type="application/rdf+xml" href="/api/doap/gammu.xml" />
{% endblock %}

{% block content %}
<h2>{% trans "Python bindings for Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu also includes Python bindings which allow you to use (most) of <a
href="/libgammu/">Gammu</a> functionality from <a
href="http://python.org">Python</a> language.
{% endblocktrans %}
</p>

{% include "shortnews.html" %}

<h3>{% trans "Download" %}</h3>
<p>
{% blocktrans %}
Python module is now standalone, so please 
<a href="/download/python-gammu/">download it separately</a>. If you want to use binary
package, the daemon might be included in separate binary package in your
distribution, try looking for something like <code>python-gammu</code>.
{% endblocktrans %} 
</p>

<p>{% trans "The easiest way to install it is using pip:" %}</p>

<pre><code>pip install python-gammu</code></pre>

<h3>{% trans "Example" %}</h3>

<p>
{% blocktrans %}
Using python-gammu is quite simple, for example sending of the text message 
can be done by following snippet:
{% endblocktrans %}
</p>

<pre>
import gammu

sm = gammu.StateMachine()
sm.ReadConfig()
sm.Init()

message = {
    'Text': 'python-gammu testing message', 
    'SMSC': {'Location': 1},
    'Number': '+420800123465',
}

sm.SendSMS(message)
</pre>

<h3>{% trans "Documentation" %}</h3>
<p>
{% blocktrans %}
<a href="/docs/devel/python/">API documentation</a> is available, but you
might also find useful <a
href="/docs/devel/api/">libGammu documentation</a>. Please check <a
href="/docs/devel/">developer documentation page</a> for more details.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Check also <a href="/docs/manual/faq/python.html">Frequently Asked Questions</a>.
{% endblocktrans %}
</p>

<h3>{% trans "Source code and issue tracker" %}</h3>

<p>{% trans "Both source code and issue tracker are hosted on GitHub:" %}</p>

<ul>
<li><a href="https://github.com/gammu/python-gammu/">{% trans "Code repository" %}</a></li>
<li><a href="https://github.com/gammu/python-gammu/issues">{% trans "Issue tracker" %}</a></li>
</ul>

<h3>{% trans "More information" %}</h3>
<ul>
{% include "sidebars/gammu.html" %}
{% include "sidebars/common.html" %}
</ul>

{% endblock %}


