{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Wammu and Gammu Search" %}{% endblock %}

{% block content %}
<h2>{% trans "Wammu and Gammu Search" %}</h2>

<p>
{% blocktrans %}
This page provides Google Custom Search optimized for searching about Gammu.
You can also use same search engine directly on <a
href="http://www.google.com/coop/cse?cx=008688692096734274889%3Axuvlsu_agkm">Google
pages</a>.
{% endblocktrans %}
</p>

<script>
  (function() {
    var cx = '008688692096734274889:xuvlsu_agkm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

<p>
{% blocktrans %}
Please note that the search results are also from third party domains and we
have no control over the content there.
{% endblocktrans %}
</p>

{% endblock %}

