{% extends "base.html" %}
{% load i18n %}

{% block description %}{% trans "Gammu SMS Daemon, the software for mass processing SMS messages." %}{% endblock %}
{% block extrakeywords %},SMSD{% endblock %}
{% block title %}{% trans "Gammu SMSD" %}{% endblock %}

{% block header %}
<link rel="meta" title="DOAP" type="application/rdf+xml" href="/api/doap/gammu.xml" />
{% endblock %}

{% block sidebar_top %}
<h3>{% trans "More information" %}</h3>
<ul>
{% include "sidebars/gammu.html" %}
{% include "sidebars/common.html" %}
</ul>

{% endblock %}
{% block content %}
<h2>{% trans "Gammu SMSD" %}</h2>

<p>
{% blocktrans %}
Gammu SMS Daemon is a program that periodically scans GSM modem for received
messages, stores them in defined storage and also sends messages enqueued in
this storage. It is perfect tool for managing big amounts of received or sent
messages and automatically process them.
{% endblocktrans %} 
</p>

<p>
{% blocktrans %}
You can currently store received messages in files or in various databases.
<a href="http://www.mysql.com/">MySQL</a> and <a
href="http://www.postgresql.org/">PostgreSQL</a> are supported natively and
wide range of others (including <a href="http://www.sqlite.org/">SQLite</a>)
through <a href="http://libdbi.sourceforge.net/">libdbi</a> (libdbi backend is
currently not available in Windows builds).
{% endblocktrans %} 
</p>

<p>
{% blocktrans %}
The package includes also tool <code>gammu-smsd-inject</code> which will help
you creating long text messages and <code>gammu-smsd-monitor</code> which
allows you to monitor current status of SMS Daemon or phone.
{% endblocktrans %} 
</p>

<p>
{% blocktrans %}
For managing messages in the database, you can use <a
href="http://kalkun.sourceforge.net/">Kalkun</a> frontend, which provides web
interface to messages and phonebook. It currently works only with MySQL
database. Check <a href="/screenshots/contrib/">screenshots</a> to see how it
looks like.
{% endblocktrans %} 
</p>

{% include "shortnews.html" %}

<h3>{% trans "Download" %}</h3>
<p>
{% blocktrans %}
SMS Daemon is distributed as part of <a href="/gammu/">Gammu</a> so to download
it just get <a href="/download/gammu/">Gammu</a>. If you want to use binary
package, the daemon might be included in separate binary package in your
distribution, try looking for something like <code>gammu-smsd</code>.
{% endblocktrans %} 
</p>

<h3>{% trans "Documentation" %}</h3>
<p>
{% blocktrans %}
There is <a href="/docs/manual/smsd/">SMS Daemon section in Gammu Manual</a>
which covers all aspects of using SMSD, similar documentation is available
in <a href="/docs/manual/">The Gammu Manual</a> which is distributed with the program.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Check also <a href="/docs/manual/faq/smsd.html">Frequently Asked Questions</a>.
{% endblocktrans %}
</p>

{% if LANGUAGE_CODE == "en-us" %}

<h3>Note</h3>

<p>There are also many SMS aggregators that allow you to <a href="http://www.textmagic.com/app/pages/en/products/web-sms">send texts online</a>, using your computer.</p>

{% endif %}

{% endblock %}




