{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "GSM countries list from Gammu" %}{% endblock %}

{% block sidebar_top %}
{% include "tools/sidebar.html" %}
{% endblock %}

{% block content %}

<h2>{% trans "GSM countries list from Gammu" %}</h2>

<p>
{% blocktrans %}
This list contains GSM countries as are currently defined in Gammu. If you can 
see some bug here, please <a href="/support/bugs/">report it</a>.
{% endblocktrans %}
</p>

<dl>
{% for country in countries %}
<dt><a href="/tools/networks/?country={{ country.0 }}">{{ country.0 }}</a></dt>
<dd><a href="/tools/networks/?country={{ country.0 }}">{{ country.1 }}</a></dd>
{% endfor %}
</dl>

{% endblock %}
