{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "GSM countries list from Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "GSM countries list from Gammu" %}</h2>

<p>
{% blocktrans %}
This list contains GSM countries as are currently defined in Gammu. If you can 
see some bug here, please <a href="/support/bugs/">report it</a>.
{% endblocktrans %}
</p>

<table class="table">
<thead><tr><th>{% trans "Country code" %}</th><th>{% trans "Country name" %}</th></tr></thead>
<tbody>
{% for country in countries %}
<tr>
<td><a href="/tools/networks/?country={{ country.0 }}">{{ country.0 }}</a></td>
<td><a href="/tools/networks/?country={{ country.0 }}">{{ country.1 }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
