{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "GSM networks list from Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "GSM networks list from Gammu" %}</h2>

<p>
{% blocktrans %}
This list contains GSM networks as are currently defined in Gammu. If you can 
see some bug here, please <a href="/support/bugs/">report it</a>.
{% endblocktrans %}
</p>

<table class="table">
<thead><tr><th>{% trans "Network code" %}</th><th>{% trans "Network name" %}</th></tr></thead>
<tbody>
{% for network in networks %}
<tr><td>{{ network.0 }}</td><td>{{ network.1 }}</td></tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

