{% extends "base.html" %}
{% load i18n %}
{% load encoding %}
{% load crispy_forms_tags %}

{% block title %}{% trans "PDU decoder using Gammu" %}{% endblock %}

{% block content %}

<form action="/tools/pdu-decode/" method="POST">
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">{% trans "PDU decoder using Gammu" %}</h2></div>
  <div class="panel-body">
{% csrf_token %}
{{ form|crispy }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Go" %}" class="btn btn-primary" />
</div>
</div>
</form>

{% if decoded %}
<h3>{% trans "PDU Decoding Result" %}</h3>
{% for part in decoded %}
<h4>{% blocktrans with part.Id as id %}Message number {{ id }}{% endblocktrans %}</h4>
{% if part.Error %}
<p>{% trans "Decoding failed with error:" %} {{ part.Error.Text }} ({{ part.Error.Code }})</p>
<p>Please help improving Gammu decoder and submit <a href="https://github.com/gammu/gammu/issues/new?title=PDU decode error: {{ part.Error.Text }} ({{ part.Error.Code }})&amp;body=PDU: {{ form.cleaned_data.text }}">an issue</a> describing the error and including the PDU payload.</p>
{% else %}
<table class="table">
<tr><th>PDU</th><td class="hex">{{ part.PDU|wrap|linebreaksbr }}</td></tr>
<tr><th>Number</th><td>{{ part.Number }}</td></tr>
{% ifequal part.Coding "8bit" %}
<tr><th>{% trans "Text" %}</th><td class="hex">{{ part.TextHex|wrap|linebreaksbr }}</td></tr>
{% else %}
<tr><th>{% trans "Text" %}</th><td>{{ part.Text }}</td></tr>
{% endifequal %}
{% ifnotequal part.UDH.Type "NoUDH" %}
<tr><th>{% trans "UDH type" %}</th><td>{{ part.UDH.Type }}</td></tr>
<tr><th>{% trans "UDH header" %}</th><td class="hex">{{ part.UDH.TextHex }}</td></tr>
<tr><th>{% trans "Message part" %}</th><td>{{ part.UDH.PartNumber }} / {{ part.UDH.AllParts }}</td></tr>
{% endifnotequal %}
<tr><th>{% trans "SMSC" %}</th><td>{{ part.SMSC.Number }}</td></tr>
<tr><th>{% trans "Validity" %}</th><td>{{ part.SMSC.Validity }}</td></tr>
<tr><th>{% trans "Type" %}</th><td>{{ part.Type }}</td></tr>
<tr><th><abbr title="{% trans "Message Reference" %}">MR</abbr></th><td>{{ part.MessageReference }}</td></tr>
</table>
{% endif %}
{% endfor %}
{% endif %}


{% if smsinfo %}
<h3>{% trans "SMS Data Decoding Result" %}</h3>
{% for part in smsinfo %}
<h4>{% blocktrans with part.Id as id %}Message number {{ id }}{% endblocktrans %}</h4>
{% if part.Unknown %}
<p>Some parts of this message can not be properly decoded by Gammu!</p>
{% if part.Error %}
<p>Error: {{ part.Error }}</p>
{% endif %}
<p>Please help improving Gammu decoder and submit <a href="https://github.com/gammu/gammu/issues/new?title=PDU decode error: {{ part.Error }}&amp;body=PDU: {{ form.cleaned_data.text }}">an issue</a> describing the error and including the PDU payload.</p>
{% endif %}
{% for entry in part.Entries %}
<table class="table">
{%if entry.MMSIndicator %}
<tr><th colspan="2">{% trans "MMS indicator" %}</th></tr>
<tr><th>{% trans "Title" %}</th><td>{{ entry.MMSIndicator.Title }}</td></tr>
<tr><th>{% trans "Sender" %}</th><td>{{ entry.MMSIndicator.Sender }}</td></tr>
<tr><th>{% trans "Address" %}</th><td>{{ entry.MMSIndicator.Address }}</td></tr>
<tr><th>{% trans "Class" %}</th><td>{{ entry.MMSIndicator.Class }}</td></tr>
{% endif %}
{%if entry.Bitmap %}
<tr><th colspan="2">{% trans "Bitmap" %}</th></tr>
<tr><th>{% trans "Bitmaps" %}</th><td>{% for bitmap in entry.Bitmap %}<img src="data:image/png;base64,{{ bitmap.XPM|xpm2png }}" />{% endfor %}</td></tr>
{% endif %}
</table>
{% endfor %}
{% endfor %}
{% endif %}


{% endblock %}
