{% extends "base.html" %}
{% load i18n %}
{% load encoding %}

{% block title %}{% trans "PDU decoder using Gammu" %}{% endblock %}

{% block sidebar_top %}
{% include "tools/sidebar.html" %}
{% endblock %}

{% block content %}

<h2>{% trans "PDU decoder using Gammu" %}</h2>
<form action="/tools/pdu-decode/" method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr><td></td>
<td>
<input type="submit" value="{% trans "Go" %}" />
</td>
</tr>
</table>
</form>

{% if decoded %}
<h3>{% trans "PDU Decoding Result" %}</h3>
{% for part in decoded %}
<h4>{% blocktrans with part.Id as id %}Message number {{ id }}{% endblocktrans %}</h4>
{% if part.Error %}
<p>{% trans "Decoding failed with error:" %} {{ part.Error.Text }} ({{ part.Error.Code }})</p>
{% else %}
<table>
<tr><th>PDU</th><td class="hex">{{ part.PDU|wrap|linebreaksbr }}</td></tr>
<tr><th>Number</th><td>{{ part.Number }}</td></tr>
{% ifequal part.Coding "8bit" %}
<tr><th>{% trans "Text" %}</th><td class="hex">{{ part.TextHex|wrap|linebreaksbr }}</td></tr>
{% else %}
<tr><th>{% trans "Text" %}</th><td>{{ part.Text }}</td></tr>
{% endifequal %}
{% ifnotequal part.UDH.Type "NoUDH" %}
<tr><th>{% trans "UDH type" %}</th><td>{{ part.UDH.Type }}</td></tr>
<tr><th>{% trans "UDH header" %}</th><td class="hex">{{ part.UDH.TextHex }}</td></tr>
{% endifnotequal %}
<tr><th>{% trans "SMSC" %}</th><td>{{ part.SMSC.Number }}</td></tr>
<tr><th>{% trans "Validity" %}</th><td>{{ part.SMSC.Validity }}</td></tr>
<tr><th>{% trans "Type" %}</th><td>{{ part.Type }}</td></tr>
<tr><th><abbr title="{% trans "Message Reference" %}">MR</abbr></th><td>{{ part.MessageReference }}</td></tr>
</table>
{% endif %}
{% endfor %}
{% endif %}


{% if smsinfo %}
<h3>{% trans "SMS Data Decoding Result" %}</h3>
{% for part in smsinfo %}
<h4>{% blocktrans with part.Id as id %}Message number {{ id }}{% endblocktrans %}</h4>
{% if part.Unknown %}
<p>Some parts of this message can not be properly decoded by Gammu!</p>
{% endif %}
{% for entry in part.Entries %}
<table>
{%if entry.MMSIndicator %}
<tr><th colspan="2">{% trans "MMS indicator" %}</th></tr>
<tr><th>{% trans "Title" %}</th><td>{{ entry.MMSIndicator.Title }}</td></tr>
<tr><th>{% trans "Sender" %}</th><td>{{ entry.MMSIndicator.Sender }}</td></tr>
<tr><th>{% trans "Address" %}</th><td>{{ entry.MMSIndicator.Address }}</td></tr>
<tr><th>{% trans "Class" %}</th><td>{{ entry.MMSIndicator.Class }}</td></tr>
{% endif %}
{%if entry.Bitmap %}
<tr><th colspan="2">{% trans "Bitmap" %}</th></tr>
<tr><th>{% trans "Bitmaps" %}</th><td>{% for bitmap in entry.Bitmap %}<img src="data:image/png;base64,{{ bitmap.XPM|xpm2png }}" />{% endfor %}</td></tr>
{% endif %}
</table>
{% endfor %}
{% endfor %}
{% endif %}


{% endblock %}


