{% extends "base.html" %}
{% load i18n %}
{% load encoding %}
{% load crispy_forms_tags %}

{% block title %}{% trans "PDU encoder using Gammu" %}{% endblock %}

{% block content %}

<form action="/tools/pdu-encode/" method="POST">
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">{% trans "PDU encoder using Gammu" %}</h2></div>
  <div class="panel-body">
{% csrf_token %}
{{ form|crispy }}
</div>
<div class="panel-footer">
<input type="submit" value="{% trans "Go" %}" class="btn btn-primary" />
</div>
</div>
</form>

{% if pdu %}
<h3>{% trans "PDU data" %}</h3>
{% for part in pdu %}
<h4>{% blocktrans with part.0 as id %}Message number {{ id }}{% endblocktrans %}</h4>
<pre>
{{ part.1 }}
</pre>
{% endfor %}
{% endif %}


{% endblock %}
