{% load i18n %}

<h3>{% trans "Supported Features" %}</h3>

{% if phone.connection %}
{% if phone.features.all %}
<ul>
{% for feature in phone.features.all %}
<li>{{ feature.get_description }}</li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "No features supported!" %}</p>
{% endif %}

<h3>{% trans "Configuration" %}</h3>

<pre>
[gammu]
port = {% ifequal phone.connection.medium "bluetooth" %}BLUETOOTH ADDRESS OF PHONE{% else %}DEVICE NAME{% endifequal %}
connection = {{ phone.connection.name }}
{% if phone.model %}model = {{ phone.model }}{% endif %}</pre>

{% else %}

<p>
{% trans "Phone is reported not to be supported!" %}
</p>

{% endif %}

{% if phone.note_html %}

<h3>{% trans "Reporter Note" %}</h3>

{{ phone.note_html|safe }}

{% endif %}

