{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Gammu Phone Database " %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Search" %}</h3>
<form action="/phones/search" method="GET">
<input type="text" name="q" />
<input type="submit" value="{% trans "Go" %}" />
</form>
<h3>{% trans "Feature Search" %}</h3>
<form action="/phones/search" method="GET">
<ul class="featuresearch">
{% for feature in features %}
<li>
<input type="checkbox" name="feature" value="{{ feature.name }}" id="ft_{{ feature.name }}" />
<label for="ft_{{ feature.name }}">{{ feature.get_description }} [<a
href="/phones/search/{{ feature.name }}/">link</a>]</label>
</li>
{% endfor %}
</ul>
<input type="submit" value="{% trans "Go" %}" />
</form>
{% endblock %}

{% block sidebar %}
<h3>{% trans "Syndication" %}</h3>
<ul>
<li><a href="/phones/rss/">{% trans "RSS" %}</a></li>
<li><a href="/phones/atom/">{% trans "Atom" %}</a></li>
<li><a href="/phones/csv/">{% trans "CSV" %}</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>{% trans "Gammu Phone Database " %}</h2>

<p>
{% blocktrans %}
This page tries to collect list of phones supported by <a href="/libgammu">Gammu library</a>. To add model browse to manufacturer page, look whether model hasn't been entered yet and enter new model.
You can find more information about mobile phones on <a
href="http://tuxmobil.org/phones_linux.html">TuxMobil</a>.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
This list is filled in by users and thus there can be no warranty
whether entered information is correct and accurate. If author decided to
publish his email, you might consider asking him for details. Also <a
href="https://lists.sourceforge.net/lists/listinfo/gammu-users">gammu-users
mailing list</a> is open to questions about supported phones.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
As this list is updated by users, you are welcome to <strong><a href="/phones/new/">add new records</a></strong>.
{% endblocktrans %}
</p>

<h3>{% trans "Manufacturers" %}</h3>

{% for vendor in vendors %}
<a class="vendor" href="{{ vendor.get_absolute_url }}">{{ vendor.name }}
({{ vendor.get_models_count }})
</a>
{% endfor %}
<div class="clearer"></div>

<h3>{% trans "Recently Added Phones" %}</h3>
{% include "phonedb/list.html" %}

<h3>{% trans "Phone Records Summary" %}</h3>


<p>
{% blocktrans %}
On following chart, you can see how number of records in phone database
evolves over time. The rough step at the beginning is caused by absence of
timestamp data.
{% endblocktrans %}
</p>

<img src="{{ chart_url }}" />

{% endblock %}



