{% extends "base.html" %}
{% load i18n %}

{% block description %}Database of supported phones in Gammu and Wammu, the software for managing GSM cell phones.{% endblock %}
{% block title %}{% trans "Create New Record" %} - {% trans "Gammu Phone Database " %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Navigation" %}</h3>
<ul>
<li><a href="/phones">Phones Database</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>{% trans "Create New Record" %}</h2>

<p>
{% blocktrans %}
Thank you for improving Gammu phones database, but please note that this is
not bug tracking system. Should you have any problems with Gammu, please
<a href="/support/bugs/">report them in the bug tracker</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Email and name fields are voluntary, you can choose how (and whether) the
email will be shown to visitors. Email can be used by Gammu developers to
contact you in case they want to test something with your phone or want to
clarify some things you have entered.
{% endblocktrans %}
</p>

<form action="/phones/new/" method="POST">
{% csrf_token %}
<table>
{{ form.as_table }}
<tr><td colspan="2">
<noscript>{% trans "Please enter text 'nospam':" %} <input name="irobot" size="6" /></noscript>
<script type="text/javascript">
//<![CDATA[
document.write(String.fromCharCode(60) + 'input type="hidden" name="irobot" value="no' + 'spam" />');
//]]>
</script>
</td>
</tr>
<tr><td></td>
<td>
<input type="submit" value="{% trans "Go" %}" />
</td>
</tr>
</table>
</form>


{% endblock %}
