{% extends "base.html" %}
{% load i18n %}

{% block description %}{% trans "Database of supported phones in Gammu and Wammu, the software for managing GSM cell phones." %}{% endblock %}
{% block extrakeywords %},{{ vendor.name }},{{ phone.name }}{% endblock %}
{% block title %}{{ vendor.name }} {{ phone.name }} - {% trans "Gammu Phone Database " %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Navigation" %}</h3>
<ul>
<li><a href="/phones">Phones Database</a></li>
<li><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a></li>
<li><a href="/phones/new?vendor={{ vendor.slug }}&amp;name={{ phone.name|urlencode }}">{% trans "Add new record" %}</a></li>
{% if user.is_superuser %}
<li><a href="/admin/phonedb/phone/{{ phone.id }}/">{% trans "Edit" %}</a></li>
{% ifnotequal phone.state "deleted" %}
<li><a href="{{ phone.get_absolute_url }}delete/">{% trans "Delete" %}</a></li>
{% endifnotequal %}
{% ifnotequal phone.state "approved" %}
<li><a href="{{ phone.get_absolute_url }}approve/">{% trans "Approve" %}</a></li>
{% endifnotequal %}
{% endif %}
</ul>
<h3>{% trans "Similar Phones" %}</h3>

{% if related %}
<ul>
{% for phone in related %}
<li><a href="{{ phone.get_absolute_url}}">{{ phone.vendor.name }} 
{{ phone.name }} 
({{ phone.connection.name }})</a></li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "None found." %}</p>
{% endif %}
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<h2>{{ vendor.name }} {{ phone.name }}</h2>

{% ifequal phone.state "deleted" %}
<p class="warning">
{% blocktrans %}
This record has been rejected for some reasons, you might want to check other
records for same model (you can see them on right side).
{% endblocktrans %}
</p>
{% endifequal %}
{% ifequal phone.state "draft" %}
<p class="warning">
{% blocktrans %}
This record has not been approved yet. This means that it might contain false
information or there are better records for the same model (you can see them
on right side).
{% endblocktrans %}
</p>
{% endifequal %}

<p>
{% blocktrans with vendor.slug as vendor and phone.name as phone %}
If this record contains wrong information, please <a
href="/phones/new?vendor={{ vendor }}&amp;name={{ phone|urlencode }}">add new record</a>
with correct information and the record will be replaced after review.
All records were filled in by users and there is no guarantee that they are
correct.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
More information about phone might be available on following sites:
{% endblocktrans %}

<ul>
{% for link in phone.get_related_sites %}
<li><a href="{{ link.url }}">{{ link.name }}</a></li>
{% endfor %}
</ul>


{% include "phonedb/body.html" %}

<h3>{% trans "About entry" %}</h3>
{% if phone.get_author %}
<p>
{% blocktrans with phone.get_author|safe as author and phone.created as created %}
Created by {{ author }} on {{ created }}.
{% endblocktrans %}
</p>
{% else %}
<p>
{% blocktrans with phone.created as created %}
Created on {{ created }}.
{% endblocktrans %}
</p>
{% endif %}
{% if phone.gammu_version %}
<p>
{% blocktrans with phone.gammu_version as version %}
Tested with Gammu {{ version }}.
{% endblocktrans %}
</p>
{% endif %}

{% endblock %}

