{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ vendor.name }} {{ phone.name }}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Navigation" %}</h3>
<ul>
<li><a href="/phones">Phones Database</a></li>
<li><a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a></li>
</ul>
<h3>{% trans "Similar Phones" %}</h3>

{% if related %}
<ul>
{% for phone in related %}
<li><a href="{{ phone.get_absolute_url}}">{{ phone.vendor.name }} {{ phone.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>{% trans "None found." %}</p>
{% endif %}
{% endblock %}

{% block content %}
{% include "phonedb/body.html" %}

{% endblock %}

