{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Third Party Applications using Gammu" %}{% endblock %}

{% block content %}
<h2>{% trans "Third Party Applications using Gammu" %}</h2>

{% for item in links %}
<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
{% if item.screenshot %}

<div class="appshot">
    <a href="{{ item.screenshot.image.url }}"
    rel="lightbox[screenshots]" title="{{ item.screenshot.title }}">
        <img src="{{ item.screenshot.image.url_180x120 }}"
        alt="{{ item.screenshot.title }}" />
    </a>
</div>
{% endif %}
{{ item.description|safe }}
<p>{% trans "Website:" %} <a href="{{ item.url }}">{{ item.url }}</a></p>
<div class="clearer"></div>
{% endfor %}

{% endblock %}


