{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Third Party Applications for Gammu" %}{% endblock %}

{% block sidebar_top %}
<h3>{% trans "Follow us on" %}</h3>
<ul>
<li><a href="http://identi.ca/gammu">{% trans "identi.ca" %}</a></li>
<li><a href="http://twitter.com/wammu">{% trans "Twitter" %}</a></li>
</ul>
<h3>{% trans "Feeds" %}</h3>
<ul>
<li><a href="/news/rss/">{% trans "RSS" %}</a></li>
<li><a href="/news/atom/">{% trans "Atom" %}</a></li>
<li><a href="https://identi.ca/api/statuses/friends_timeline/gammu.rss">{% trans "identi.ca RSS" %}</a></li>
<li><a href="http://twitter.com/statuses/user_timeline/67626012.rss">{% trans "Twitter RSS" %}</a></li>
</ul>

{% endblock %}

{% block content %}
<h2>{% trans "Third Party Applications for Gammu" %}</h2>

{% for item in links %}
<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
{% if item.screenshot %}

<div class="appshot">
    <a href="{{ item.screenshot.image.url }}"
    rel="lightbox[screenshots]" title="{{ item.screenshot.title }}">
        <img src="{{ item.screenshot.image.url_180x120 }}"
        alt="{{ item.screenshot.title }}" />
    </a>
</div>
{% endif %}
{{ item.description|safe }}
<div class="clearer"></div>
{% endfor %}

{% endblock %}


