{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reporting Bugs in Wammu and Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "Reporting Bugs in Wammu and Gammu" %}</h2>

<p>
{% blocktrans %}
Use issue tracker on GitHub to report bugs or
feature requests. Please take care that you include all information necessary
for the developer to investigate the problem. The most important things to
include are:
{% endblocktrans %}
</p>

<ul>
<li>
{% blocktrans %}<strong>Gammu version</strong> might rule out already fixed issues.{% endblocktrans %}
</li>
<li>
{% blocktrans %}
<strong>Phone information</strong> such as manufacturer and model are really necessary.
{% endblocktrans %}
</li>
<li>
{% blocktrans %}
Information about your <strong>operating system</strong> and it's version, do you use Windows, some Linux
distribution, Mac OS X, BSD?
{% endblocktrans %}
</li>
<li>
{% blocktrans %}
Configuration you use, you can just include Gammu <strong>configuration
file</strong>.
{% endblocktrans %}
</li>
<li>
{% blocktrans %}
<strong>Debugging log</strong> of the communication, please see bellow how to obtain that.
{% endblocktrans %}
</li>
</ul>

<p>{% trans "Issue trackers for individiual projects:" %}</p>

<ul>
<li><a href="https://github.com/gammu/gammu/issues">Gammu</a></li>
<li><a href="https://github.com/gammu/python-gammu/issues">python-gammu</a></li>
<li><a href="https://github.com/gammu/wammu/issues">Wammu</a></li>
</ul>

<h3>{% trans "Obtaining Debugging Log" %}</h3>

<p>
{% blocktrans %}
Debugging log contains transcription of communication between Gammu and your
phone. As such it might contain your private data. Please make sure you 
do not include such data in the report.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
To make Gammu generate debug log, you need to tell it to do so. It is possible
either by command line (<code>gammu --debug textalldate --debug-file
/tmp/gammu.log identify</code>) or using configuration file:
{% endblocktrans %}
</p>

<pre>
[gammu]
connection = your connection setting
port = your port name
logformat = textalldate
logfile = /tmp/gammu.log
</pre>

<p>
{% blocktrans %}
Wammu automatically creates debugging log in temporary directory
(<code>/tmp</code> on Unix systems or Windows it is usually placed under
<code>Application Data</code> folder in your profile), where it is kept in
case Wammu has crashed. You can also save the current debug log while running
Wammu from Help menu.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Gammu SMSD logging is configured in more levels, to include all messages, set
<code>debuglevel</code> to 255:
{% endblocktrans %}
</p>

<pre>
[gammu]
connection = your connection setting
port = your port name
logformat = textalldate

[smsd]
debuglevel = 255
logfile = /tmp/smsd.log
</pre>

<h3>{% trans "Troubleshooting Windows Service" %}</h3>

<p>
{% blocktrans %}
If Gammu fails to start as a Windows service (you will usually get "Error
1053: The service did not respond to the start or control request in a timely
fashion"), first check your SMSD logs. If they do not contain any useful hint,
try starting SMSD manually with exactly same parameters as you installed the
service (without -i). You should also check if you pass all paths as absolute
(eg. path to configuraiton file).
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
For example the command line can look like:
{% endblocktrans %}
</p>

<pre>
gammu-smsd.exe -c c:\gammu\smsdrc
</pre>

<p>
{% blocktrans %}
You now should be able to get errors from SMSD even if it fails to start as a
service.
{% endblocktrans %}
</p>

{% endblock %}
