{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Support for Wammu and Gammu" %}{% endblock %}

{% block content %}

{% include "wammu_feedback.html" %}

<h2>{% trans "Support for Wammu and Gammu" %}</h2>

<p>
{% blocktrans %}
Gammu and Wammu are free software projects. As such you can get some support
from the community behind the project. The best place to start is usually the
<a href="/docs/"><strong>documentation</strong></a>, where many configuration
issues and common situations are already covered.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
If you are looking for list of <strong>supported phones</strong>, you can look
into <a href="/phones/"><strong>Gammu Phone Database</strong></a>. You can
also share your experiences there, but if you had problems, please report bugs
and do not write about problems only in phone database.
{% endblocktrans %}
</p>

<h3><a href="/support/community/">{% trans "Community Support" %}</a></h3>

<p>
{% blocktrans %}
If the <a href="/docs/">documentation</a> does not help, ask the community on
the <a href="/support/community/"><strong>Gammu discussion forum</strong></a>.
You can also use the forum to share ideas and experiences.
{% endblocktrans %}
</p>

<h3><a href="/support/bugs/">{% trans "Reporting Bugs" %}</a></h3>

<p>
{% blocktrans %}
Once you think you have hit a bug or want to file a feature request, please
use a <a href="/support/bugs/"><strong>bug</strong> tracker</a> to report them. Please be as
descriptive as possible and include the information needed to reproduce the
bug, such as debug logs. Security vulnerabilities in Gammu or python-gammu
should be <a href="/support/bugs/">reported privately</a>.
{% endblocktrans %}
</p>

<h3><a href="/support/buy/">{% trans "Commercial Support" %}</a></h3>

<p>
{% blocktrans %}
Running some business application using Gammu, you might be interested in
getting a better level of support. See how to
<a href="/support/buy/">contact the maintainer</a>.
{% endblocktrans %}
</p>

{% endblock %}
