{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Mailing lists and forums for Wammu and Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "Discussion forum for Gammu and Wammu" %}</h2>

<p>
{% blocktrans with url="https://github.com/gammu/gammu/discussions" %}There is a <a href="{{ url }}">discussion forum on GitHub</a>, where you can discuss with other community members and share your ideas.{% endblocktrans %}
</p>

<h3>{% trans "Stack Overflow" %}</h3>

<p>
{% blocktrans with "https://stackoverflow.com/tags/gammu/info" as url %}You can also ask related questions on <a href="{{ url }}">Stack Overflow</a>.{% endblocktrans %}
</p>

<h3>{% trans "Past Mailing Lists" %}</h3>

<p>
{% blocktrans with url="https://sourceforge.net/p/gammu/mailman/gammu-users/" %}There used to be mailing list in a past, you can check its <a href="{{ url }}">archives</a> for previous discussions.{% endblocktrans %}
</p>

<p>
{% blocktrans %}
The main list where the discussion is being held is <a
href="https://lists.sourceforge.net/lists/listinfo/gammu-users">gammu-users@lists.sourceforge.net</a>.
It's just generic place where users or developers can discuss anything related
to Gammu (this includes Wammu or third party frontends like Kalkun).
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
In past, there used to be some problems with licensing of some code in Gammu
and separate lists for this purpose has been created - <a
href="https://lists.sourceforge.net/lists/listinfo/gammu-legal">gammu-legal@lists.sourceforge.net</a>.
It is not much used nowadays, but should you find any legal problems with
Gammu, please use this mailing list.
{% endblocktrans %}
</p>

{% endblock %}


