{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Online Communication for Wammu and Gammu" %}{% endblock %}

{% block content %}

<h2>{% trans "Online Communication for Wammu and Gammu" %}</h2>

<p>
{% blocktrans %}
Online communication is sometimes the best way to diagnose problems, but it is
not always available, for example you might be in different time zone that
people you want to chat with or simply the people are busy in this time. You
can try asking here, but if you do not get any reaction, you should retry
later or try to use <a href="/support/lists/">mailing list</a>.
{% endblocktrans %}
</p>

<h3>{% trans "IRC" %}</h3>

<p>
{% blocktrans %}
You are very welcome to #gammu at irc.freenode.net. Feel free to ask there
your questions. If you don't get the answer immediately, don't worry and
patiently wait until someone answers. The channel is low volume and it may
take a while until someone notices your question.
{% endblocktrans %}
</p>


<p>
{% blocktrans %}
You can also find a robot called like CIA-42, which just sends a notifications
there about every commit made to the Gammu source repository.
{% endblocktrans %}
</p>

{% endblock %}
