{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ program }} - {% trans "Download" %}{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download {{ program }}
{% endblocktrans %}
</h2>

{% with stable_release as release %}
{% with stable_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}

{% if testing_release %}
{% with testing_release as release %}
{% with testing_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}
{% endif %}

<h3>{% trans "Linux binary packages" %}</h3>

<ul>
<li><a href="https://packages.debian.org/{{ program_name}}">
    {% trans "Debian packages" %}
    </a></li>
<li><a href="https://packages.ubuntu.com/{{ program_name}}">
    {% trans "Ubuntu packages" %}
    </a></li>
<li><a href="https://launchpad.net/~nijel/+archive/ppa">
    {% trans "Ubuntu packages in PPA" %}
    </a></li>
<li><a href="https://apps.fedoraproject.org/packages/{{ program_name}}">
    {% trans "Fedora packages" %}
    </a></li>
<li><a href="http://madb.mageia.org/package/list/t_search/{{ program_name }}/application/0">
    {% trans "Mageia packages" %}
    </a></li>
<li>
    <a href="https://software.opensuse.org/package/{{ program_name }}">
    {% trans "RPM packages (openSUSE, Fedora, Mageia, SLES, RHEL, CentOS)" %}
    </a></li>
</ul>

<h3>{% trans "Development version" %}</h3>

<p>
{% blocktrans %}Should you be interested in git access or git snapshots, you can find them on <a href="/contribute/code/">development page</a>.{% endblocktrans %}
</p>

{% endblock %}

