{% extends "base.html" %} 
{% load i18n %}

{% block title %}{% trans "Download Wammu and Gammu" %}{% endblock %}

{% block sidebar_top %}
{% include "downloads/smalldownloads.html" %}
{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download
{% endblocktrans %}
</h2>

<p>
{% blocktrans %}
You can download two programs here - <a href="/gammu/">Gammu</a> and 
<a href="/wammu/">Wammu</a>. Wammu is a GUI program, while Gammu a command
line and it includes a <a href="/smsd/">SMS daemon</a> and 
<a href="/python-gammu/">Python bindings</a>. Please check linked pages for
more details.
{% endblocktrans %}
</p>

{% include "downloads/platformmessage.html" %}

<h3><a href="/download/gammu">{% trans "Download Gammu" %}</a></h3>
{% with "gammu" as program_name %}
{% with "Gammu" as program %}
{% include "downloads/platformlinks.html" %}
{% endwith %}
{% endwith %}

<h3><a href="/download/wammu">{% trans "Download Wammu" %}</a></h3>
{% with "wammu" as program_name %}
{% with "Wammu" as program %}
{% include "downloads/platformlinks.html" %}
{% endwith %}
{% endwith %}

<h3>{% trans "Syndication" %}</h3>
<ul>
<li><a href="/api/doap/wammu.xml">{% trans "DOAP for Wammu" %}</a></li>
<li><a href="/api/doap/gammu.xml">{% trans "DOAP for Gammu" %}</a></li>
<li><a href="/api/pad/wammu.xml">{% trans "PAD for Wammu" %}</a></li>
<li><a href="/api/pad/gammu.xml">{% trans "PAD for Gammu" %}</a></li>
</ul>
{% endblock %}


