{% extends "base.html" %} 
{% load i18n %}

{% block title %}{% trans "Download" %}{% endblock %}

{% block sidebar_top %}
<h3><a href="/download/">{% trans "Source Downloads" %}</a></h3>
{% for relinfo in downloads %}
{% with relinfo.0 as release %}
{% with relinfo.1 as downloads %}
{% include "dlbox.html" %}
{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download
{% endblocktrans %}
</h2>

<p>
{% blocktrans %}
You can download two programs here - <a href="/gammu/">Gammu</a> and 
<a href="/wammu/">Wammu</a>. Wammu is a GUI program, while Gammu a command
line and it includes a <a href="/smsd/">SMS daemon</a> and 
<a href="/python-gammu/">Python bindings</a>. Please check linked pages for
more details.
{% endblocktrans %}
</p>

{% include "downloads/platformmessage.html" %}

<h3><a href="/download/gammu">{% trans "Download Gammu" %}</a></h3>
{% with "gammu" as program_name %}
{% with "Gammu" as program %}
{% include "downloads/platformlinks.html" %}
{% endwith %}
{% endwith %}

<h3><a href="/download/wammu">{% trans "Download Wammu" %}</a></h3>
{% with "wammu" as program_name %}
{% with "Wammu" as program %}
{% include "downloads/platformlinks.html" %}
{% endwith %}
{% endwith %}

{% endblock %}


