{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ program }} - {% trans "Download" %}{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download {{ program }}
{% endblocktrans %}
</h2>

{% include program_include %}

<form action="." method="GET" class="mirrorselect" id="mirrorselect">
<p>
{% blocktrans with mirror.name as name %}
Currently downloading from mirror:
{% endblocktrans %}
<select name="mirror">
{% for item in mirrors %}
<option value="{{ item.slug }}" 
    {% ifequal item.slug mirror.slug%} selected="selected"{% endifequal %} 
    >{{ item.name }}</option>
{% endfor %}
</select>
<input type="submit" value="{% trans "Change" %}" />
</p>
</form>

{% with stable_release as release %}
{% with stable_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}

{% if testing_release %}
{% with testing_release as release %}
{% with testing_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}
{% endif %}

{% endblock %}

