{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ program }} - {% trans "Download" %}{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download {{ program }}
{% endblocktrans %}
</h2>

{% include program_include %}

{% include "downloads/mirror.html" %}

{% with stable_release as release %}
{% with stable_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}

{% if testing_release %}
{% with testing_release as release %}
{% with testing_downloads as downloads %}
{% include "downloads/dlinfo.html" %}
{% endwith %}
{% endwith %}
{% endif %}

<h3>
{% blocktrans %}
Other platforms
{% endblocktrans %}
</h3>

<p>
{% blocktrans %}
You can not find your platform here? Choose the correct one <a href="../">on complete listing</a>.
{% endblocktrans %}
</p>


{% endblock %}

