{% load i18n %}
<ul>
{% for platform in platforms %}
{% if platform.0 != 'win32' or program_name != 'wammu' %}
<li><a href="/download/{{ program_name }}/{{ platform.0 }}">{{ platform.1}}</a></li>
{% endif %}
{% endfor %}
<li><a href="http://packages.debian.org/{{ program_name}}">
    {% trans "Debian packages" %}
    </a></li>
<li><a href="http://packages.ubuntu.com/{{ program_name}}">
    {% trans "Ubuntu packages" %}
    </a></li>
<li>
    <a href="http://software.opensuse.org/search?baseproject=home:Nijel&amp;q={{ program_name }}&amp;include_home=true">
    {% trans "RPM packages (openSUSE, Fedora, Madriva, SLES, RHEL, CentOS) (latest stable version)" %}
    </a></li>
<li>
    <a href="http://software.opensuse.org/search?baseproject=home:Nijel:experimental&amp;q={{ program_name }}&amp;include_home=true">
    {% trans "RPM packages (openSUSE, Fedora, Madriva) (latest testing version)" %}
    </a></li>
</ul>

