{% extends "base.html" %} 
{% load i18n %}

{% block title %}{{ program }} - {% trans "Download" %}{% endblock %}

{% block sidebar_top %}
<h3><a href="/download/">{% trans "Downloads" %}</a></h3>
{% for relinfo in downloads %}
{% with relinfo.0 as release %}
{% with relinfo.1 as downloads %}
{% include "dlbox.html" %}
{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download {{ program }}
{% endblocktrans %}
</h2>

<p>
{% blocktrans %}
Thank you for interest in downloading <a href="/{{ program_name }}">{{ program }}</a>.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Please select download option best fitting your platform. If you use Linux,
your distribution most likely already contains {{ program }}, so the easiest
way to get it is to install it directly from your distribution repositories.
{% endblocktrans %}
</p>
<ul>
{% for platform in platforms %}
<li><a href="./{{ platform.0 }}">{{ platform.1}}</a></li>
{% endfor %}
<li><a href="http://packages.debian.org/{{ program_name}}">
    {% trans "Debian packages" %}
    </a></li>
<li><a href="http://packages.ubuntu.com/{{ program_name}}">
    {% trans "Ubuntu packages" %}
    </a></li>
<li><a href="https://launchpad.net/~nijel/+archive/ppa">
    {% trans "Ubuntu packages in PPA (latest stable version)" %}
    </a></li>
<li>
    <a href="http://software.opensuse.org/search?baseproject=home:Nijel&amp;q={{ program_name }}">
    {% trans "RPM packages (openSUSE, Fedora, Madriva) (latest stable version)" %}
    </a></li>
<li>
    <a href="http://software.opensuse.org/search?baseproject=home:Nijel:experimental&amp;q={{ program_name }}">
    {% trans "RPM packages (openSUSE, Fedora, Madriva) (latest testing version)" %}
    </a></li>
</ul>

<h2>{% trans "Current Releases" %}</h2>

{% with stable_release as release %}
{% include "downloads/relinfo.html" %}
{% endwith %}

{% if testing_release %}
{% with testing_release as release %}
{% include "downloads/relinfo.html" %}
{% endwith %}
{% endif %}

{% endblock %}

