{% extends "base.html" %} 
{% load i18n %}

{% block title %}{{ program }} - {% trans "Download" %}{% endblock %}

{% block sidebar_top %}
<h3><a href="/download/">{% trans "Downloads" %}</a></h3>
{% for relinfo in downloads %}
{% with relinfo.0 as release %}
{% with relinfo.1 as downloads %}
{% include "dlbox.html" %}
{% endwith %}
{% endwith %}
{% endfor %}
{% endblock %}

{% block content %}
<h2>
{% blocktrans %}
Download {{ program }}
{% endblocktrans %}
</h2>

<p>
{% blocktrans %}
Thank you for interest in downloading <a href="/{{ program_name }}/">{{ program }}</a>.
{% endblocktrans %}
</p>

{% include "downloads/platformmessage.html" %}
{% include "downloads/platformlinks.html" %}

<h2>{% trans "Current Releases" %}</h2>

{% with stable_release as release %}
{% include "downloads/relinfo.html" %}
{% endwith %}

{% if testing_release %}
{% with testing_release as release %}
{% include "downloads/relinfo.html" %}
{% endwith %}
{% endif %}

{% endblock %}

