{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ program }} {{ release.version }} - {% trans "Download" %}{% endblock %}

{% block content %}
<h2>
{% blocktrans with release.version as version %}
{{ program }} {{ version }}
{% endblocktrans %}
</h2>

{% include program_include %}

<h3>{% trans "Changes" %}</h3>

{{ release.changelog_html|safe }}


<h3>{% trans "Files" %}</h3>

<form action="." method="GET" class="mirrorselect" id="mirrorselect">
<p>
{% blocktrans with mirror.name as name %}
Currently downloading from mirror:
{% endblocktrans %}
<select name="mirror">
{% for item in mirrors %}
<option value="{{ item.slug }}" 
    {% ifequal item.slug mirror.slug%} selected="selected"{% endifequal %} 
    >{{ item.name }}</option>
{% endfor %}
</select>
<input type="submit" value="{% trans "Change" %}" />
</p>
</form>

{% include "downloads/dllist.html" %}

{% endblock %}


